# Sistema operativo
.DS_Store
Thumbs.db
error_log

# Dependencias
/vendor/
/node_modules/

# Compilados
/dist/
/public/dist/

# Entorno y configuración local
.env
.env.local
.env.production

# Logs y temporales
/logs/
/temp/