# Ignorar archivos y directorios generados por el sistema operativo
.DS_Store
Thumbs.db
/.vscode
.gitignore
error_log
/dist

# Ignorar directoris imatges
/public/img

# Ignorar logs y archivos temporales
/logs/
/temp/

# Ignorar directorio de dependencias (ejemplo para PHP y Composer)
/vendor/
/node_modules/

# Ignorar archivos de configuración local (ejemplo para PHP)
.env
contra.php
/src/backend/api/01_curriculum/definicio_taules.sql
