<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{HTTP_HOST} ^elliotfern\.com$ [NC]
    RewriteRule ^(.*)$ https://elliot.cat/$1 [L,R=301]

    RewriteBase /

    RewriteRule ^sitemap-index\.xml$ sitemap-index.xml.php [L]
    RewriteRule ^sitemap-([a-z]{2})\.xml$ sitemap-$1.xml.php [L]

    RewriteRule ^$ ca/homepage [L,R=301]

    # ✅ API siempre por el front controller
    RewriteRule ^api/ index.php [QSA,L]

    # resto del sitio: si no es archivo/carpeta, a index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
