<?xml version="1.0" encoding="UTF-8"?>

<phpunit 
    bootstrap="src/backend/bootstrap.php"
    colors="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
    displayDetailsOnTestsThatTriggerNotices="true"
>

<php>
    <env name="APP_ENV" value="test"/>
    <env name="DB_DBNAME" value="epgylzqu_elliot_cat_test"/>
    <env name="DB_HOST" value="127.0.0.1" />
    <env name="DB_USER" value="epgylzqu_user"/>
</php>
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>src/backend/Tests</directory>
        </testsuite>
    </testsuites>

    <logging>
        <testdoxText outputFile="php://stdout"/>
    </logging>
</phpunit>