/* Estilos básicos para los formularios */
.form {
  max-width: 1200px;
  margin-bottom: 50px;
  margin-top: 25px;
  padding: 20px;
  background-color: #ffdaa2; /* Fondo ligeramente gris */
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  border: 2px solid #000000; /* Borde de 2px de color gris claro */
}

/* Estilo para los mensajes de error y éxito */
.message {
  display: none;
  margin-top: 1rem;
  padding: 0.8rem;
  border-radius: 4px;
}

.message.success {
  background-color: #28a745;
  color: white;
}

.message.error {
  background-color: #dc3545;
  color: white;
}

.trix-editor {
  background-color: #ffffff !important;
  height: 250px !important;
}
