/* Estilos básicos para los formularios */
.form {
  max-width: 1200px;
  margin-bottom: 50px;
  margin-top: 25px;
  padding: 20px;
  background-color: #ffdaa2; /* Fondo ligeramente gris */
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  border: 2px solid #000000; /* Borde de 2px de color gris claro */
}

form label {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 0.5rem;
}

/* Ajustes para las columnas en el formulario */
.form-espai {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.separador {
  margin-top: 35px;
  margin-bottom: 20px;
}

/* Estilos para los inputs */
input,
textarea {
  width: 90%;
  padding: 0.8rem;
  margin-top: 0.2rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  font-size: 1rem;
  color: #333;
}

select {
  width: 97%;
  padding: 0.8rem;
  margin-top: 0.2rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  font-size: 1rem;
  color: #333;
}

.input-petit {
  width: 90%;
  padding: 0.4rem;
  margin-top: 0.2rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  font-size: 0.7rem;
  color: #333;
}

/* Bordes más suaves cuando se está enfocando en el campo */
input:focus,
select:focus,
textarea:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

/* Espaciado entre los inputs */
.col-md-4 input,
.col-md-6 input,
.col-md-12 input {
  margin-bottom: 1rem; /* Espacio debajo de cada input */
}

/* Estilo para los mensajes de error y éxito */
.message {
  display: none;
  margin-top: 1rem;
  padding: 0.8rem;
  border-radius: 4px;
}

.message.success {
  background-color: #28a745;
  color: white;
}

.message.error {
  background-color: #dc3545;
  color: white;
}

.trix-editor {
  background-color: #ffffff !important;
  height: 250px !important;
}
