/* Barra navegacio */
.barraNavegacio h6 {
  display: inline-block;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 4px;
  margin: 0;
}

.barraNavegacio a {
  color: #333;
  text-decoration: none;
  font-weight: 600;
  padding: 2px 4px;
  color: rgb(168, 12, 12);
}

.barraNavegacio a:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

/* Dades Fitxa */
.dadesFitxa {
  padding: 20px;
  background-color: #ececec;
  margin-top: 25px;
  margin-bottom: 25px;
  color: rgb(0, 0, 0);
  font-size: 14px;
}
