/* Centrar el contenedor principal */
.pantallaLogin {
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  padding: 0 20px; /* Asegura que el contenido no toque los bordes */
  box-sizing: border-box;
}